# Required for op to know which account to use
export OP_ACCOUNT=changelog.1password.com

# Load secrets if configured - only available to changelog.com team members:
# https://github.com/orgs/thechangelog/people
source_env_if_exists .envrc.secrets

# Defining env vars which are changelog.com specific
# Will need refactoring post 1.0
export AWS_REGION="eu-west-1"
export AWS_S3_BUCKET_SUFFIX="-local-pipedream"
export HONEYCOMB_DATASET="pipedream-dev"
