source_up

export FLY_APP="cdn-2025-12-06"
export FLY_APP_PRIMARY_REGION="iad"
export FLY_APP_REGIONS="sjc,lax,dfw,ord,iad,ewr,gru,lhr,cdg,ams,fra,jnb,sin,nrt,syd"
export FLY_APP_REGIONS_HOT="sjc,dfw,ord,iad,ewr,fra,sin,nrt"
# https://fly.io/docs/about/pricing/#started-fly-machines
export FLY_APP_DISK_SIZE=50
export FLY_APP_REGION_DEFAULT_CPU_KIND=performance
export FLY_APP_REGION_DEFAULT_CPU_NUM=1
export FLY_APP_REGION_DEFAULT_MEM=4096
export FLY_APP_REGION_HOT_CPU_KIND=performance
export FLY_APP_REGION_HOT_CPU_NUM=2
export FLY_APP_REGION_HOT_MEM=8192
