source_up

export FLY_APP="cdn-2025-12-06"
export FLY_APP_PRIMARY_REGION="iad"
export FLY_APP_REGIONS="sjc,lax,ord,iad,lhr,cdg,ams,fra,sin,nrt"
export FLY_APP_REGIONS_HOT="sjc,lax,ord,iad,fra,nrt"
# https://fly.io/docs/about/pricing/#started-fly-machines
export FLY_APP_DISK_SIZE=50
export FLY_APP_REGION_DEFAULT_CPU_KIND=performance
export FLY_APP_REGION_DEFAULT_CPU_NUM=1
export FLY_APP_REGION_DEFAULT_MEM=2048
export FLY_APP_REGION_HOT_CPU_KIND=performance
export FLY_APP_REGION_HOT_CPU_NUM=2
export FLY_APP_REGION_HOT_MEM=4096
