# Full app config reference: https://fly.io/docs/reference/configuration/
app = "cdn-2025-12-06"
# Closest to the OG origin (the second origin is ewr)
primary_region = "iad"

kill_signal = "SIGTERM"
kill_timeout = 30

[deploy]
  strategy = "rolling"
  max_unavailable = 1

[http_service]
  internal_port = 9000
  force_https = false

[http_service.http_options]
  idle_timeout = 60

[http_service.concurrency]
  # This matches Varnish's thread_pools * thread_pool_max - 10%
  hard_limit = 2700
  soft_limit = 2000
  type = "requests"

[[http_service.checks]]
  grace_period = "5s"
  interval = "5s"
  method = "get"
  path = "/health"
  timeout = "3s"

[mounts]
  source = "varnish_file_cache"
  destination = "/var/lib/varnish/cache"
