name: GitHub

on:
  workflow_call:

env:
  DAGGER_CLOUD_TOKEN: ${{ secrets.DAGGER_CLOUD_TOKEN }}
  OP_SERVICE_ACCOUNT_TOKEN: ${{ secrets.OP_SERVICE_ACCOUNT_TOKEN }}
  TERM: xterm

jobs:
  run:
    runs-on: ubuntu-24.04
    steps:
      - name: 'Checkout code...'
        uses: actions/checkout@v5

      - uses: extractions/setup-just@v3
        with:
          just-version: '1.45.0'

      - name: 'Test all (including local acceptance)...'
        run: |
          just test

      - name: 'Test production acceptance...'
        if: ${{ github.event_name == 'schedule' || github.event_name == 'workflow_dispatch' }}
        run: |
          just test-acceptance-production

      - name: 'Archive test acceptance reports...'
        uses: actions/upload-artifact@v4
        with:
          name: test-acceptance
          path: |
            tmp/test-acceptance-*

      - name: 'Publish & deploy tag...'
        if: ${{ startsWith(github.ref, 'refs/tags/v') && github.event_name == 'push' }}
        run: |
          just publish ${{ github.ref_name }}
          cd fly.io/cdn-2025-02-25
          just deploy ${{ github.ref_name }}
          just scale
