name: Namespace.so

on:
  workflow_call:

env:
  DAGGER_BIN: /vendor/dagger/bin/dagger
  DAGGER_CLOUD_TOKEN: ${{ secrets.DAGGER_CLOUD_TOKEN }}
  OP_SERVICE_ACCOUNT_TOKEN: ${{ secrets.OP_SERVICE_ACCOUNT_TOKEN }}
  TERM: xterm

jobs:
  run:
    runs-on:
      - nscloud-ubuntu-24.04-amd64-4x8-with-cache;github.run-id=${{ github.run_id }}
      - nscloud-git-mirror-1gb
      - namespace-experiments:dagger.integration=enabled;dagger.version=0.19.8
      - nscloud-cache-tag-pipely-test-deploy
      - nscloud-cache-size-1gb
    steps:
      - name: 'Checkout code...'
        uses: namespacelabs/nscloud-checkout-action@v5

      - name: Install direnv
        run: |
          curl -sfL https://direnv.net/install.sh | bash
          echo "$HOME/.local/bin" >> $GITHUB_PATH

      - name: Load environment variables
        run: |
          direnv allow .
          cd fly.io/cdn-2025-12-06
          direnv allow .
          direnv export gha > "$GITHUB_ENV"

      - uses: extractions/setup-just@v3
        with:
          just-version: '1.45.0'

      - name: Setup cache
        uses: namespacelabs/nscloud-cache-action@v1
        with:
          path: |
            ~/.local

      - name: 'Test all (including local acceptance)...'
        run: |
          just test

      - name: 'Publish & deploy tag...'
        if: ${{ startsWith(github.ref, 'refs/tags/v') && github.event_name == 'push' }}
        run: |
          just publish ${{ github.ref_name }}
          cd fly.io/cdn-2025-12-06
          just deploy ${{ github.ref_name }}

      - name: 'Test production acceptance...'
        if: ${{ startsWith(github.ref, 'refs/tags/v') && github.event_name == 'push' }}
        run: |
          just test-acceptance-production

      - name: 'Archive test acceptance reports...'
        uses: namespace-actions/upload-artifact@v1
        if: ${{ always() }}
        with:
          name: test-acceptance
          path: |
            tmp/test-acceptance-*